body{
    font-family: 'Poppins', sans-serif;
}
.heders{
    padding-left: 10%;
    padding-top: 15px;
}
section{
    display: flex;
    align-items: center;
   
  
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(brown,red);
    padding: 10px 50px;
    border-radius: 20px;
    color: white;
    font-weight: 400;
}
.start{
    width: 50%;
    padding: 10%;
  
}
.start img{
    width: 100%;
    align-items: center;
    border: 1px solid lightpink;
    border-radius: 50%;


}
.logo-section{
    vertical-align: auto;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
.img-area{
    display: flex;
    margin: 26px;
    
}
.img-area img{
    align-items: center;
   }


/*-- Popular Collection-- */
.popular-item{
    text-align: center;
    padding-top: 5%;
}
.container{
    display: grid;
    padding-top: 2%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2px;
    padding-left: 10%;
    background-color:white;
   
}
.popular{
    background-color: white;
    box-shadow: 1px 2px 1px 1px #888888;
    margin: 5px;
}
.course{
    padding-left: 20px;
    padding-right: 20px;
   
}

.course-banner img{
    width: 224px;
    height: 104;
}


.course-info{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: coral;
}
.fa-star.empty{
    color: #AEAEAE;
}
.cours-duration{
    background-color: gainsboro;
    border-radius: 5px;
}
.see-more {
    text-align: right;
}
.last-section{
    width: 100%;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 10%;
    padding-left: 10%;

    border: 0.2px solid white;
    border-radius:5px;

}
article{
    text-decoration: none;
    text-align: right;
}
article a{
    color: red;
    text-decoration: none;
    padding-top: 2px;
}
.last-button{
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 50px;
    color: white;
    font-weight: 400px;
}

/*-- Footer section-- */


footer{
    background: black;
    color: white;
    text-align: center;
    margin-top:3px;
    padding-top: 1px;
}
}
.footer {
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.footer-icon{
   padding: 5px;
   padding-left: 5px;
}